<div class="pt-8 px-6 pb-4">
  <h1 class="text-4xl font-bold">
    Houses
  </h1>
</div>

<div class="px-6 pb-4">
  <%= render "houses/form", house: @house %>
</div>

<ul>
  <%= turbo_frame_tag "houses_list", class: "flex flex-col gap-4 mx-2" do %>
    <% unless @houses.blank? %>
      <% @houses.each do |house| %>
        <li><%= render house, new_room: Room.new, new_invite: Invite.new %></li>
      <% end %>
    <% else %>
      <li>You haven't added any houses yet!</li>
    <% end %>
  <% end %>
</ul>

<div class="p-4"></div>
