<%= simple_form_for(box, class: "rounded-xl") do |f| %>
  <% if box.errors.any? %>
    <%= render "shared/form_errors", resource: box %>
  <% end %>
  <div class="flex gap-2">
    <%= f.input :room_id, as: :select,
      label: false,
      include_blank: "Room name",
      collection: rooms.map { |room| ["#{room.name.capitalize} - #{room.house.name.capitalize}", room.id] },
      error_html: { class: "text-red-400 text-sm mt-1" },
      wrapper_html: { class: "grow" },
      input_html: { class: "w-full rounded-md p-3 bg-slate-200 dark:bg-slate-800 focus:outline-none focus:ring-2 focus:ring-teal-400 text-slate-900 dark:text-slate-50" }
    %>
    <%= f.button :submit, "Add box", class: "cursor-pointer bg-teal-500 hover:bg-teal-600 text-slate-100 px-4 py-2 rounded shadow-sm focus:outline-none focus:ring-2 focus:ring-teal-400" %>
  </div>
<% end %>
