<ul class="flex flex-col gap-4 p-2">
  <% unless @boxes.blank? %>
    <% @boxes.each do |box| %>
      <li><%= render box %></li>
    <% end %>
  <% else %>
    <li>You haven't added any boxes yet!</li>
  <% end %>
</ul>
