<% if flash[:notice] %>
  <div data-controller="flash" class="z-999 shadow-md dark:shadow-md/70max-w-max flex items-centerr justify-start fixed bottom-1 left-1 bg-blue-100 border border-blue-300 text-blue-800 px-4 py-3 pe-10 rounded m-1" role="alert">
    <span class="block max-h-fit p-4">
      <%= flash[:notice] %>
    </span>
    <button type="button" data-action="flash#close" class="absolute top-0 right-0 px-4 py-3 text-blue-800 hover:cursor-pointer">
      <span class="sr-only">Dismiss</span>
      &times;
    </button>
  </div>
<% end %>

<% if flash[:alert] %>
  <div data-controller="flash" class="z-999 shadow-md dark:shadow-md/70max-w-max flex items-centerr justify-start fixed bottom-1 left-1 bg-yellow-100 border border-yellow-300 text-yellow-800 px-4 py-3 pe-10 rounded m-1" role="alert">
    <span class="block max-h-fit p-4">
      <%= flash[:alert] %>
    </span>
    <button type="button" data-action="flash#close" class="absolute top-0 right-0 px-4 py-3 text-yellow-800 hover:cursor-pointer">
      <span class="sr-only">Dismiss</span>
      &times;
    </button>
  </div>
<% end %>
