<div class="mb-2 bg-red-600/90 text-slate-100 p-4 rounded-md">
  <strong><%= resource.class %> not saved:</strong>
  <ul class="list-disc list-inside">
    <% resource.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
