<div class="text-xl bg-violet-400 dark:bg-violet-800 shadow-sm dark:shadow-sm/90 dark:shadow-slate-700 py-4 px-6 flex justify-between transition ease-linear duration-150">

  <%= link_to root_path, class: "group inline-flex content-center gap-2 text-md font-medium text-slate-800 dark:text-slate-50 hover:text-teal-700 dark:hover:text-teal-400" do %>
    <%= render "shared/icons/logo", klasses: "dark:stroke-slate-50 dark:group-hover:stroke-teal-400" %>
    StorageBox
  <% end %>

  <%= render "shared/icons/settings", klasses: "hover:cursor-pointer w-8 h-8 stroke-slate-800 dark:stroke-slate-50 hover:stroke-teal-700 dark:hover:stroke-teal-400" %>


  <%# if user_signed_in? %>
    <%#= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: "group inline-flex content-center gap-2 text-md font-medium text-slate-800 dark:text-slate-50 hover:text-slate-700 dark:hover:text-slate-400" do %>
<!--      Log out-->
      <%#= render "shared/icons/log_out", klasses: "dark:stroke-slate-50 group-hover:dark:stroke-slate-400" %>
    <%# end %>
  <%# else %>
    <%#= link_to "Login", new_user_session_path, class: "group inline-flex content-center gap-2 text-sm font-medium text-slate-800 dark:text-slate-50 group-hover:text-slate-700 dark:hover:text-slate-200" do %>
<!--      Log in-->
      <%#= render "shared/icons/log_in", klasses: "dark:stroke-slate-50 group-hover:dark:stroke-slate-400" %>
    <%# end %>
  <%# end %>

</div>
