# PostgreSQL. Versions 9.3 and up are supported.
#
# Install the pg driver:
#   gem install pg
#
# Ensure the PostgreSQL server is installed and running.
#   MacOS: brew install postgresql
#   Ubuntu: sudo apt install postgresql libpq-dev
#   Windows: https://www.postgresql.org/download/windows/
#
# Configure using:
#   rails new myapp --database=postgresql
#
# Default setup expects a server running on localhost with
# a user named the same as the app name (myapp).
#
default: &default
  adapter: postgresql
  encoding: unicode
  # username: <%= ENV["PGUSER"] || "postgres" %>
  # password: <%= ENV["PGPASSWORD"] %>
  # host: <%= ENV["PGHOST"] || "localhost" %>
  # port: <%= ENV["PGPORT"] || 5432 %>
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: search_your_stuff_development

test:
  <<: *default
  database: search_your_stuff_test

staging:
  <<: *default
  database: search_your_stuff_production
  username: search_your_stuff
  password: <%= ENV['SEARCH_YOUR_STUFF_DATABASE_PASSWORD'] %>

production:
  <<: *default
  database: search_your_stuff_production
  username: search_your_stuff
  password: <%= ENV['SEARCH_YOUR_STUFF_DATABASE_PASSWORD'] %>
