<%= turbo_frame_tag dom_id(item) do %>
  <div class="bg-slate-50 dark:bg-slate-900 rounded-xl shadow-md dark:shadow-md/90 p-4">
    <%= render "items/form", item: item, boxes: @boxes, rooms: @rooms %>
  </div>
<% end %>
