<div data-controller="sort" class="max-h-min">
  <%= form_with url: items_path,
      method: :get,
      data: {
        turbo_frame: 'items',
        sort_target: "form",
      },
      role: "sort",
      class: "max-w-max" do %>

    <label for="sort" class="font-medium whitespace-nowrap max-h-min text-slate-600 dark:text-slate-400">Sort by:</label>


    <%= select_tag :sort,
      options_for_select([
        ["Date created", "created_at"],
        ["Name", "name"],
        ["Date modified", "updated_at"]
      ], params[:sort]),
      data: {
        action: "change->sort#submit"
      },
      class: "text-slate-600 dark:text-slate-400 rounded-md p-2 bg-slate-200 dark:bg-slate-800 border-1 border-slate-300 dark:border-slate-700 focus:outline-none focus:ring-2 focus:ring-teal-400"
    %>


    <button type="submit" class="sr-only" aria-label="Sort">Sort</button>
  <% end %>
</div>
