<%= render "search" %>

<%= turbo_frame_tag :items do %>
  <% if @items.present? %>
    <p class="pl-6 text-md md:text-lg text-slate-950 dark:text-slate-200">
      <%= @items.count %> items:
    </p>

    <ul class="flex flex-col gap-4 p-2">
      <% @items.each do |item| %>
        <li><%= render partial: "item", locals: { item: item } %></li>
      <% end %>
    </ul>
  <% else %>
    <p class="pl-6 text-md md:text-lg text-slate-950 dark:text-slate-200"">
      No items found.
    </p>
  <% end %>
<% end %>
