<div class="pt-8 px-6 pb-4">
  <h1 class="text-4xl font-bold">Add Item</h1>
</div>

<div class="mx-2 my-6 p-4 pb-4 bg-slate-50 dark:bg-slate-900 rounded-xl shadow-md dark:shadow-md/90">
  <%= render "items/form", item: @item, boxes: @boxes, rooms: @rooms %>
</div>

<div class="pt-8 px-6">
  <h2 class="text-2xl font-bold">Add Box</h2>
</div>

<div class="p-4 m-2 bg-slate-50 dark:bg-slate-900 rounded-xl shadow-md dark:shadow-md/90">
  <%= render "boxes/form", box: @box, houses: @houses, rooms: @rooms %>
</div>

<div class="pt-8 px-6">
  <h2 class="text-2xl font-bold">Add Tag</h2>
</div>

<div class="p-4 m-2 bg-slate-50 dark:bg-slate-900 rounded-xl shadow-md dark:shadow-md/90">
  <%= render "tags/form", tag: @tag %>
</div>
