<h1><%= @household.address %></h1>

<h2>Rooms</h2>

<% @household.rooms.each do |room| %>
  <h3><%= room.name %></h3>
  <h4>Boxes</h4>
  <% room.boxes.each do |box| %>
    <h5><%= box.number %></h5>
    <ul>
      <% box.items.each do |item| %>
        <li><%= item.name %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
